{% extends "@App/layout.html.twig" %}

{% block title %}AppBundle:Security:sendLostPasswordMail{% endblock %}

{% block headerTitle %}Mot de passe perdu{% endblock headerTitle %}
	
{% block content %}


	
	<form action="{{ path('lostpassword') }}" method="post">
    	<label for="email">Email :</label>
    	<input type="email" id="email" name="email"/>
    	<br>
    	<button type="submit">Envoyer</button>
  	</form> 
 
{% endblock content %}