{% extends "@App/layout.html.twig" %}

{% block title %}AppBundle:Security:accessDenied{% endblock title %}

{% block headerTitle %}Welcome to the Security:accessDenied page{% endblock headerTitle %}
  
{% block content %}


  <div>
    {#  Si l'utilisateur n'a pas validé son email  #}
    {% if is_granted('ROLE_USER_PENDING') %}
      Merci de bien vouloir valider votre email avant de pouvoir accéder à ce contenu<br>
      Vous n'avez pas reçu d'email de validation ? <a href="{{ path('accessdenied', {'resendEmailValidation': 1}) }}">Envoyer à nouveau</a>
      {#  Si l'utilisateur a validé son email, mais n'est pas admin  #}  
    {% elseif is_granted('ROLE_ADMIN') == false %}
      Vous devez être administrateur pour accéder à ce contenu
    {% endif %}
  </div>
  
{% endblock content %}

