{% extends "@App/layout.html.twig" %}

{% block title %}AppBundle:User:userPassword{% endblock title %}

{% block headerTitle %}Welcome to the User:userPassword page{% endblock headerTitle %}

{% block content %}

  <div>
    {% include '@App/Include/Account/menu_user.html.twig' %}
    Gérez vos données utilisateurs grâce aux liens ci-dessus
  </div>

  {{form(changePasswordForm)}}


{% endblock content %}
